Package: fake-ubuntu-advantage-tools 
Version: 0.2
Architecture: all
Conflicts: ubuntu-advantage-tools
Breaks: ubuntu-advantage-tools
Provides: ubuntu-advantage-tools (= 65535)
Description: Ban ubuntu-advantage-tools while satisfying ubuntu-minimal dependency
Maintainer: Originally by Vitaly _Vi Shukela <vi0oss@gmail.com>, this one updated by Skye with fix idea by gamemanj
Homepage: https://github.com/Skyedra/UnspamifyUbuntu
